*{
    margin: 0px;
    padding: 0px;
}
#cont{
    display: flex;
    justify-content: center;
   margin-top: 100px;
}
form{
    height: 200px;
    width: 850px;
    background: rgb(217, 208, 230);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(102, 50, 50),
    -10px -10px 20px rgb(102, 50, 50);
}
.user{
    margin: 10px 20px;
}
.user label{
    display: block;
    margin:5px 0px 0px 5px
}
.user input{
    height: 40px;
    width:350px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    font-weight: 650;
}
#bttn{
    height: 40px ;
    width: 220px;
    margin:32px 0px 0px 40px;
    border-radius: 10px;
    background: #120a33;
    color: white;
    font-weight: 800;
    font-size: 20px;
}
